.vscode/
build/
test*
cache/
ignore/
*.ipynb*
*.ipynb*/
*pycache*
*pycache*/
*.DS_Store*
*.DS_Store*/
dist/
*egg-info/
__*
__*/
!__init__.py
TODO
amazon_data/
amazon_data_processed/
data_process_tiny_amazon.py

# Ignore Datasets
data/
dataset/
dataset_trunc/
tiny_data/
/yelp_data

# Ignore Vector DBs and Cache
db/
db_temp/
lmdb_cache/
__pycache__/

# Optional: Ignore results if you don't want to sync them to GitHub
results/

# Ignore Environment variables
.env

global_chroma_db/
